.messenger {
  height: calc(100vh - 30px);
  display: flex;
  background-color: #FFEDDA;
}

.chatMenu {
  flex: 3.5;
  overflow-y: scroll;
}

.chatMenuInput {
  width: 95%;
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 20px;
  border-bottom: 1px solid gray;
}

.addConvo {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.addConvo:hover {
  background: rgb(222, 222, 222);
}

.addConvoImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.searchFriendsInput {
  width: 95%;
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 20px;
  border-bottom: 1px solid gray;
  margin-top: 10px;
}

.chatBox {
  flex: 5.5;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxBottomForm {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  display: flex;
  width: 85%;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
}

.chatSubmitButton {
  width: 65px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #23A393;
  color: #FFEDDA;
}

.chatProfile {
  flex: 2.5;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatProfileWrapper {
  padding: 10px;
  height: 100%;
}

.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: gray;
  cursor: default;
}
